body{
	margin: 0;
}
.codinhmenu logo{
	width: 100%;
	padding: 0;
	position:fixed;
	z-index: 1;
}
.top{
	width: 100%;
	height: 60px;
	background: black;
	padding: 0;
	margin: 0;
	
}
.container{
	width: 1170px;
	margin: 0 auto;

}
.gioihang{
	float: right;
	color: white;
	padding-top: 7px;
	text-align: center;
}
.gioihang p{
	margin-top: 5px;
	padding: 0;
}
.gioihang a:link, a:visited{
	color: white;
	text-decoration: none;
}
.logo{
	text-align: center;
	border-bottom: solid 1px #DAD9D9;
	width: 100%;
	padding-top: 10px;
	
	
}
.logo a:link,  a:visited{
	color: black;
	text-decoration: none;
}
#divleft{
	width: 70%;
	height: 70xp;
	float: left;
	line-height: 46%;
	
	
}
#divright{
	width: 30%;
	height: 70px;
	float: left;
	position:relative;
	line-height: 46%;
}
#divleft ul li {
	float: left;
	padding-right: 47px;
	font-size: 17px;
	list-style-type: none;
	text-transform: uppercase;
	line-height: 70%px;
}
#divleft ul li a{
	text-decoration: none;
	color: white;
	
}
#divleft ul li a:hover{
	color: black;
	background: white;
	z-index:1;
	
}

#btnSearch {

	background: url(images/search.png)no-repeat 0px 0px;
    display: inline-block;
    padding-right: 14px;
    padding-left: 9px;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 8px;
}
#txtSearch{
	padding: 7px;
	font-size: 20px;
}
.menu{
	 padding-top: 15px;
	 background: green;
	 height: 46px;
	 width: 100%;
	
	
}
#containSearch {
	float:right;
}


.banner img{
	max-width:100%px;
	width: 100%
	height: 40%

}
.about{
	padding-top:50px;
	height:300px;
}
.spnoibat{
	float: left;
	padding-right: 40px;
	
}
/*
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5), #009688);
	opacity: 0;
	transition: 1s;
}
*/
.spnoibat img{
	width: 100%;
	border-radius: 7px;
}
.spnoibat img:hover{
	transform: translateY(7px);
	cursor: pointer;
	background: green;
}
.oneproduct {
	    border: solid 1px #E2E2E2;
    text-align: center;
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    padding: 40px;
	margin-bottom: 30px;
}
.oneproduct:hover{
	transform: translateY(7px);
}
